*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:80%;
	margin:auto;
}
#banner{
	width:100%;
	background:linear-gradient(#000000b0,#000000b0),url("..//image/coffee.webp");
	height:80vh;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	display:flex;
	align-items:flex-end;
}
.banner-btn1{
	text-decoration:none;
	color:#ccc;
	padding:10px 20px;
	border:1px solid #ccc;
	font-size:20px;
}
.banner-btn2{
	text-decoration:none;
	color:#ccc;
	padding:10px 25px;
	border:1px solid #ccc;
	font-size:20px;
}
.banner-btn{
	display:flex;
	gap:5%;
	align-items:center;
	padding-top:3%;
}
.banner-row h1{
	font-size:62px;
	color:#ffffff;
	padding:3% 0;
	font-family: 'Playfair Display', serif;
}
.banner-row{
	padding:2% 0%;
	width:65%;
}
.banner-row p{
	font-size:20px;
	color:#ccc;
}